.introduction {
    background-image: radial-gradient(circle, rgba(39, 90, 163, 0.4), rgba(38, 151, 193, 0.3));
    padding: 30px 30px 30px 30px;
    border-style: double;
    border-width: 2px;
    border-color: #193351;
}

.latest-projects {
    background-image: radial-gradient(circle, rgba(39, 90, 163, 0.4), rgba(38, 151, 193, 0.3));
    padding: 50px 50px 50px 50px;
    border-style: double;
    border-width: 2px;
    border-color: #193351;
}

.contact-info {
    background-image: radial-gradient(circle, rgba(39, 90, 163, 0.4), rgba(38, 151, 193, 0.3));
    padding: 35px 35px 35px 35px;
    border-style: double;
    border-width: 2px;
    border-color: #193351;
}

.projects {
    background-image: radial-gradient(circle, rgba(39, 90, 163, 0.4), rgba(38, 151, 193, 0.3));
    padding: 25px 25px 25px 25px;
    border-style: double;
    border-width: 2px;
    border-color: #193351;
}

.project {
    background-image: radial-gradient(circle, rgba(39, 90, 163, 0.6), rgba(14, 60, 124, 0.3));    padding: 15px 15px 15px 15px;
    border-style: double;
    border-width: 2px;
    border-color: #193351;
}

nav {
    background-image: radial-gradient(circle, rgba(0, 52, 109, 0.8), rgba(0, 52, 109, 0.9));    padding: 15px 15px 15px 15px;
}

hr {
    border-style: dashed;
    border-width: 1px;
    border-color: #193351;
}

body {
    background-image: linear-gradient(#43ceb9, #17469d);
	background-repeat: repeat-y;
}
