{% extends 'base.html' %}

{% block content %}
    <div class="panel projects text-white">
        <div class="container">
            <h2 class="text-center">MY PROJECTS</h2><br>
            <div class="row text-white">

                {% for project in projects %}
                    <div class="project col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="panel-body text-center">
                            <div class="title">
                                <h3>
                                    {{ project.title }}
                                    <i class="fa fa-{{ project.icon }}" aria-hidden="true"></i>
                                </h3>
                            </div>
                            <div class="text">
                                <span>{{ project.description }}</span>
                            </div>
                            <div class="panel">
                                <span>
                                    <small><u>Backend:</u></small> {{ project.backend }}<br>
                                    <small><u>Frontend:</u></small> {{ project.frontend  }}<br>
                                </span>
                            </div>
                            <br>
                            <button class="btn btn-outline-primary">
                            <a href="http://{{ project.demo }}" class="card-link text-white"><b>Demo</b></a>
                                </button>
                            <button class="btn btn-outline-primary">
                            <a href="{{ project.source }}" class="card-link text-warning"><b>Source code</b></a>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
